/* Footer */

.footer {
    background-color: $darkgray-color;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-page {
    display: block;
    align-items: center;


    @media screen and (min-width: 1119px) {
            display: flex;
            justify-content: space-between;
            align-items: unset;
        }
    }
   
    @media screen and (min-width: 767px) {
            .tablet-footer-position {
                display: flex;
                justify-content: center;
            }
        }




