@media screen and (max-width: 766px) {

    .body {
    position: relative;
    }

    .menu-button {
        display: inline-flex;
        margin: 0;
        padding: 0;
        border: none;

        background-color: transparent;
    }

    .menu-button__icon-burger {
        display: block;

        &:hover,
            :focus {
                fill: $accend-color;
            }
    }

    .menu-container {
        position: fixed;
        top: 0px;
        left: 0;
        width: 100vw;
        height: 100vh;

        padding: 40px;

        background-color: rgba($color: white, $alpha: 1.0);

        overflow-y: scroll;
        // z-index: 999;

        transform: translateX(100%);

        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &.is-open {
            transform: translateX(0);
            
            @media screen and (max-width: 466px) {

                .contacts-social__link {
                font-size: 10px;
                }
                
                .contacts__link--active {
                font-size: 27px;
                }

            }
        }
    }
    
    .menu-container__close-button {
        position: absolute;
        top: 10px;
        right: 15px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: transparent;
        border: none;
    }

    .menu-container__cross-icon {

        &:hover,
        :focus {
            fill: $accend-color;
        }
    }

    .navigation__item {
        margin-bottom: 38px;
    }

    .navigation__item:not(:last-child) {
        margin-bottom: 38px;
    }

    .navigation__link {
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        text-align: center;
        letter-spacing: 0.02em;

        color: $black-color;

        &:hover {
            color: $accend-color;
        }
    }

    .navigation__link--active {
        color: $accend-color;

        // &:hover {
        //     border-bottom: 4px solid $accend-color;
        //     border-radius: 1px;
        // }
    }


    .contacts__item {

        &:first-child {
            margin-top: 302px;
        }

        &:last-child {
            margin-top: 34px;
        }
    }

    .contacts__link {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;

        color: $gray-color;
    }

    .contacts__link--active {
        font-size: 34px;
        line-height: 40px;

        color: $accend-color;
    }

    .contacts-social__list {
        display: flex;

        margin-top: 64px;
    }

    .contacts-social__item {
        margin-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        padding-right: 10px;

        &:last-child {
            margin-right: 10px;
            border: none;
            padding-right: 0px;
        }
    }

    .contacts-social__link {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;

        color: $accend-color;
    }
}

@media screen and (min-width: 767px) {
    .menu-container, .menu-button {
        display: none;
    }
}