// Logo Footer

.logo-footer__link {
    display: block;
    
    margin-right: 0px;
    padding: 0px;
    
    text-align: center;

    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;

    @media screen and (min-width: 1199px) {
        display: flex;
        // align-content: center;
        
        // margin-right: 93px;
        // padding-top: 24px;
        // padding-bottom: 25px;
    }
}

.logo-footer__web {
    color: $accend-color;
}

.logo-footer__studio {
    color: $main-color;
}