/* Logo Header*/

.site-nav__logo-header {
    display: flex;
    align-content: center;
    justify-content: flex-end;

    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;

    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
}

.site-nav__logo-web {
    color: $accend-color;
}

.site-nav__logo-studio {
    color: $black-color;
}