  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
  }

  .list {
      list-style: none;
      padding: 0;
      margin: 0;
  }

  .body {
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      background-color: $main-color;
      color: $black-color;
  }

  .container {
    
    // Phone screen
    
    width: 480px;
    padding: 0 15px;
    margin: 0 auto;

    // Tablet
  
    @media screen and (min-width: 768px) {
      width: 768px;
    }

    // Deskop
  
    @media screen and (min-width: 1200px) {
      width: 1200px;
    }
  }

  .link {
      text-decoration: none;
  }

  .section {
      padding-top: $specific-position;
      padding-bottom: $specific-second-position;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  