  $main-color: #ffffff;
  $accend-color: #2196F3;
  $black-color: #212121;
  $gray-color: #757575;
  $darkgray-color: #2f303a;
  $rgba-color: rgba(255, 255, 255, 0.6);
  $button-color: #f5f4fa;
  $button-active: #188ce8;
  $background-color-second: #f5f5f5;
  $border-color: #eeeeee;
  $portfolio-header-color: #ececec;
  $block-color: #AFB1B8;

  $specific-position: 94px;
  $specific-second-position: 30px;