.hero-page {
    background-color: $darkgray-color;
    text-align: center;

    padding-top: 0px;
    padding-bottom: 0px;
}

@media screen and (max-width: 466px) {
    .hero {
        width: 100%;
        padding-left: auto;
        padding-right: auto;
    }
}