.overlay {
    max-width: 1600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 200px;
    padding-bottom: 200px;

    background: (rgba(47, 48, 58, 0.4));
    background-image:
    linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
    url(../../../../images/hero/mb_480_jpg.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

// Phone

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .overlay {
        background: (rgba(47, 48, 58, 0.4));
        background-image:
                linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url('../../../images/hero/mb_836_jpg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

// // Tablet

@media screen and (min-width: 767px) {
    background: (rgba(47, 48, 58, 0.4));
    background-image:
            linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../../../../images/hero/tb_768.jpg);
            background-repeat: no-repeat;
                background-size: cover;
                background-position: center;

    @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .overlay {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), 
                url('../../../images/hero/tb_1536.jpg');
                background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
            }
}

// // Deskop

@media screen and (min-width: 1119px) {
    background: (rgba(47, 48, 58, 0.4));
    background-image:
        linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../../../../images/hero/ds_1600.jpg);
        background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .overlay {
            background-image: url('../../../images/hero/ds_3200.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
}

}
}
}
